<h1>Listing staff_members</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email address</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @staff_members.each do |staff_member| %>
  <tr>
    <td><%= staff_member.name %></td>
    <td><%= staff_member.email_address %></td>
    <td><%= link_to 'Show', staff_member %></td>
    <td><%= link_to 'Edit', edit_staff_member_path(staff_member) %></td>
    <td><%= link_to 'Destroy', staff_member, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Staff member', new_staff_member_path %>
