<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <p><%= msg %></p>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Your name:" %><br />
    <%= f.text_field :name, :autofocus => true %>
  </div>
  <div class="field">
    <%= f.label :email, "Your email address:" %><br />
    <%= f.text_field :email %>
  </div>
	<div class="field">
    <%= f.label :password, "Choose a password" %><br />
    <%= f.password_field :password %>
  </div>
	<div class="field">
    <%= f.label :password_confirmation, "Retype your password" %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit "Continue" %>
  </div>
<% end %>
