<!DOCTYPE html>
<html>
<head>
  <title>Uprisingbakehouse</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&key=AIzaSyDy1vta5oFvD2Iqb23YgAsyyrSiDKnAIwo"></script>

  <%= csrf_meta_tags %>
</head>

<body>
	<div class="container">
		<div id="header">
			<img src="/assets/header_brown.png" alt="Uprising Bakehouse, Community Bread Co-op, No 254.">
		</div>
		<%= render :partial => "sections/navigation" %>
		
		<% if notice || alert %>
			<div class="flash">
				<% if notice %><%= notice %><% end %>
		  	<% if alert %><%= alert %><% end %>
			</div>
		<% end %>
		
		<div>
		  <%= yield %>
		  
		  <div class="section" style="margin:0; height:0;"></div>
		</div>
		<div class="footer">
			<div>
				<img src="/assets/number.png">
			</div>
			<p>
				254 Upper Chorlton Road, 
	  	  Manchester, 
	  	  Greater Manchester, 
	  	  M16 0BN
			</p>
			<div>
				&nbsp;
			</div>
		</div>
	</div>
</body>
</html>
